.main-menu__link {
    position: relative;
    display: flex;
    span {
        position: relative;
        overflow: hidden;
        transition: transform 0.6s, opacity .4s;
        .out {
            display: inline-flex;
        }
        .in {
            position: absolute;
            left: 0;
            opacity: 0;
            transform: translateX(100%);
        }
    }
    &:hover {
        span {
            .out {
                opacity: 0;
                transform: translateX(-100%);
            }
            .in {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}
