.home-widget-area-2 {
    height: 100%;
}
.home-widget-area-4 {
    /*height: 30rem;*/
    height: 100%;
}
[class^='home-widget-area-'] {
    height: 100%;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .home-widget-area-4 {
        height: 100%;
    }
    .home-widget-area-2 {
        height: calc(100% + 4.65rem);
        margin-top: -4.65rem;
    }
}
