.home-widget-slider-mob {

}
.home-widget-slider-mob__elements {
    position: absolute;
    top: -33.334vh;
    bottom: -33.334vh;
    right: 0;
    width: 2.5rem;
    background: var(--back-pure-white);
    z-index: 5;
}
.dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots__item {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 1px solid var(--text-light-gray);
}
.dots__item_link {
    position: absolute;
    display: block;
    border-radius: 100%;
    background: var(--text-light-gray);
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    opacity: .3;
}
.active-dot .dots__item_link {
    opacity: 1;
}
.home-widget-slider-mob__elements .dots {
    flex-flow: column;
    height: 100%;
}
.home-widget-slider-mob__elements .dots .dots__item {
    margin-bottom: .85rem;
}
.slider-desktop-dots__container {
    display: none;
}

@media (min-width: 1024px) {
    .home-widget-slider-mob__elements {
        display: none;
    }

    .slider-desktop-dots__container {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20.06vw;
        padding-bottom: calc((var(--page-padding)/2) - .7rem);
    }

    .slider-desktop-dots {
        width: 100%;
        height: 100%;

    }

    .slider-desktop-dots .dots {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .slider-desktop-dots .dots__item {
        position: relative;
        display: block;
        width: .85rem;
        min-width: .85rem;
        height: .85rem;
        border-radius: 100%;
        border: 1px solid var(--text-light-gray);
        margin-left: .6rem;
        margin-bottom: .6rem;
        opacity: .3;
    }
    .slider-desktop-dots .dots__item_link {
        position: absolute;
        display: block;
        border-radius: 100%;
        background: var(--text-light-gray);
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
    }
    .slider-desktop-dots .active-dot {
        opacity: 1;
    }
}
