.main-header {
    height: 2rem;
    margin-bottom: 1.5rem;
    &__group {
        display: flex;
        justify-content: space-between;
    }
}
.additional-menu {
    list-style: none;
    padding: 0;
    display: flex;
    order: -1;
    align-items: center;

    &__item {
        margin-right: .5rem;
        &_link svg,
        &_link img {
            width: .9rem;
        }
        &_link svg {
            color: var(--back-light-black);
        }
    }

}
@mixin lg {
    .main-header {
        margin-bottom: 1.25rem;
    }
    .additional-menu {
        &__item {
            &:last-child {
                margin-right: 0;
            }
            &_link svg,
            &_link img {
                width: .75rem;
            }
        }

    }
}

