:root {
    --text-light-gray:  #9F9F9F;
    --text-mid-gray: #666666;
    --text-dark-gray:  #4E4E4E;
    --text-white: #fff;

    --back-light-blue: #0083CD;
    --back-light-black: #242424;
    --back-pure-black: #000;
    --back-pure-white: #fff;

}


.colored-blue {
    background-color: var(--back-light-blue);
    color: var(--text-white);
    padding: 0 .5rem;
}
