.primary-menu {
    position: relative;
    list-style: none;
    display: flex;
    flex-flow: column;
}

.primary-menu a {
    color: var(--text-white);
    text-decoration: none;
    font-size: .9rem;
    margin: 0 var(--link-margin);
    letter-spacing: 6px;
}

.main-menu {
    display: none;
}

.main-menu > canvas {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-menu-group__menu {
    display: grid;
    grid-template-columns: 4rem 1fr;
}

.menu-item {
   position: relative;
   overflow: hidden;
}

/*.menu-item:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: linear-gradient(90deg, transparent 20%, var(--back-pure-white) 30%, var(--back-pure-white) 70%, transparent 80%);*/
/*    width: 10%;*/
/*    height: 100%;*/
/*    top:0;*/
/*    right: -20%;*/
/*    transition: all .4s;*/
/*    transform: skew(45deg);*/
/*    opacity: .7;*/
/*}*/

/*.menu-item:hover:before{*/
/*    right: 120%;*/
/*}*/

.main-menu .menu-item:first-child a {
    margin-left: 0;
}

body.mobile-menu-activated {
    height: 100vh;
}

/* delete*/
body.mobile-menu-activated #menu-starter svg rect{
    fill: var(--back-pure-white);
}

body.mobile-menu-activated #main-menu {
    position: fixed;
    z-index: 90;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow:scroll;
    background: var(--back-pure-white);
    display: grid;
    place-content: center;
}


body.mobile-menu-activated #main-menu .primary-menu {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

body.mobile-menu-activated #main-menu .menu-item {
    text-align: center;
    margin: .5rem 3.5rem;
}


.primary-menu-link {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: white;
}
.primary-menu-link-text {
    display: block;
    font-size: .9rem;
    z-index: 0;
}
.primary-menu-link-middleware {
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: black;
    z-index: 1;
}
.primary-menu-link svg {
    z-index: 2;
    background-color: transparent;
}


@media ( min-width: 1024px ) {
    .primary-menu {
        flex-flow: row;
    }
}
