.home-page {
    display: flex;
    flex-flow: column;


    &__block-item_full-right {
        height: 23.5rem;
    }
    &__block-bottom-left {
        min-height: 22.5rem;
    }
    &__block-top-left {
        padding-top: 1rem;
        padding-bottom:0;
    }
}

@mixin md {
    .home-page {
        display: grid;
        grid: 50vh 50vh / 60% 40%;
        height: 100%;

        &__block-top-left {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &__block-item_full-right {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
        &__block-bottom-left {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }
}



