.post-page {
    padding-top: 0.85rem;

    &__block-container {
        padding: 1.5rem;

        p {
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }
    }

    &__title {
        margin: 1.2rem 0 2.7rem;
        font-size: 1.9rem;
        color: var(--text-dark-gray);
    }
}
[class^='home-widget-area-'] {
    height: 100%;
    overflow: hidden;
}

@mixin lg {
    .post-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



