.mobile-footer {
    padding: var(--page-padding);
    min-height: 20rem;
    background: var(--back-pure-black);
}

.mobile-footer .social-links {
    display: block;
    position: relative;
}

.mobile-footer .social-links__link {
    transform: rotate(0);
    font-size: 1.35rem;
    letter-spacing: 5px;
    max-width: 100%;
}

.mobile-footer .social-links__item {
    margin: 0 0 2rem 0;
    text-align: center;
}

.mobile-footer .social-links__item .social-links__link {
    color: var(--text-white);
    text-decoration: none;
}

.copyright {
    padding-top: var(--page-padding);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.copyright a {
    font-size: .75rem;
    text-decoration: none;
    text-align: center;
    color: var(--text-white);
}

@media (min-width: 1024px) {
    .mobile-footer {
        display: none;
    }

    .mobile-footer .social-links {
        display: none;
    }
}
