.main-menu {
    z-index: 10;
    &__hamburger-slot {
        user-select: none;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        svg {
            transition: opacity.9s .2s;
            width: 15px;
        }
        .close-menu-icon {
            opacity: 0;
            color: var(--text-white);
            position: absolute;
            top:0;
            right: 0;
            height: 100%;
        }
        .open-menu-icon {
            opacity: 1;
        }
    }
    &__container {
        display: none;
        align-items: center;
        justify-content: center;
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        position: fixed;
        z-index: -1;
        &:before {
            position: absolute;
            content: ' ';
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-2%);
            width: 42000px;
            min-height: 943.82px;
            height: 100%;
            background: url(./components/MainMenu/assets/ink1.png) no-repeat 0 0;
            background-size: 100% 100%;
        }

    }
    &__list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        opacity: 0;
        z-index: 5;
    }
    &__item {
        text-align: center;

    }
    &__link {
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 1.25rem;
        text-decoration: none;
        color: var(--text-white);
    }
}
.menu-open {
    overflow: hidden;
    .main-menu {
        &__hamburger-slot {
            .close-menu-icon {
                opacity: 1;
            }
            .open-menu-icon {
                opacity: 0;
            }
        }
        &__container {
            display: flex;
            &:before {
                animation: cd-sprite 1.2s steps(24) forwards;
            }
        }
        &__list {
            animation: show-menu 1s 1s forwards;
        }
    }
}
.menu-closing {
    overflow: hidden;
    .main-menu {
        &__container {
            display: flex;
            &:before {
                animation: cd-sprite-reverse 1s steps(24) forwards;
            }
        }
        &__list {
            animation: show-menu-reverse 1s forwards;
        }
    }
}
@keyframes cd-sprite{
    0% { transform:translateY(-50%) translateX(-2%) }
    100% {transform:translateY(-50%) translateX(-98%)}
}
@keyframes cd-sprite-reverse{
    0% { transform: translateY(-50%) translateX(-98%) }
    100% { transform:translateY(-50%) translateX(-2%) }
}
@keyframes show-menu {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes show-menu-reverse {
    0% {  opacity: 1 }
    100% { opacity: 0 }
}
@mixin lg {
    .main-menu {
        order: -1;
        &__list {
            height: 80%;
        }
        &__link {
            font-size: 2.5rem;
        }
        &__hamburger-slot {
            svg {
                width: 20px;
            }
        }
    }
}



