.home-text {
    padding: var(--page-padding);
}
.home-text__title {
    font-size: 3.25rem;
    margin-bottom: 1rem;
}

@media ( min-width: 1024px ) {

    .home-text {
        padding: 0 0 0 var(--page-padding);
    }

    .home-text__title {
        font-size: 4.1rem;
        letter-spacing: .1px;
        margin-bottom: .25rem;
    }

    .home-text__tiny-text {
        font-size: 1.5rem;
        letter-spacing: .1px;
    }


}


